img {
    height: 200px;
}

form {
    margin:2rem;
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0 0 0.5rem 0;
    font-weight: 600;
}


#postTitle {
    width: 50vw;
    height: 5vw;
    margin: 0 0 2rem 0;
}

input[type="text"] {
    align-items: flex-start;
}

form input {
    width: 50vw;
    height: 30vw;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 1px solid #191A1C;
}

form ::placeholder {
    font-weight: 200;
    position: absolute;
    left: 20px;
    top: 10px;
}

.out {
    background-color: #FE912B; 
    border-radius: 2rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    border: none;
    text-transform: uppercase;
}

.out:hover {
    background-color: #191A1C;
}

.buttonpost {
  align-items: center;
  background-clip: padding-box;
  background-color: transparent;
  border: 1px solid #FE912B;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #FE912B;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 1rem 0 0 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  align-self: center;
  width: 30vw;
}

.buttonpost:hover,
.buttonpost:focus {
  background-color: #FE912B;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color:white;
}


.buttonpost:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}