---
import '../styles/stylenav.css';
---
<div class ="nav">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/signin">Sign In</a>
    <a href="/dashboard">Dashboard</a>
    </div> 