---
import '../styles/stylenav.css';
---
<div class ="nav">
    <a href="/dashboard">Home</a>
    <a href="/">Main</a>
    <a href="/register">Register</a>
    <a href="/signin">Sign In</a>
    </div> 